{% extends 'index.html' %}
{% block content  %}
<h4>ДОДАТИ ЗАХІД ДО ПЛАНУ ЗАХОДІВ</h4>
<div class="window">
<form method="post">  {% csrf_token %}
    {% if main_error %}<p class="error">{{main_error}}</p> {% endif %}

    <div class="form-grup">
        {{ status }}
        {{ name_event }}
        --------------
        {% for control in form %}
        <div class="form-grup">
        <label for="{{ control.name }}">{{ control.label }}</label>
        {{ control }}
        </div>
        {% endfor %}
    </div>
        <button value="Cancel" name="cancel_btn" type="submit" class="btn btn-primary">Відмінити</button>
        <button value="AddEvent" name="add_event_btn" type="submit" class="btn btn-primary">Додати захід</button>

</form>
    </div>
{% endblock %}