<!DOCTYPE html>
{% extends 'index.html' %}
{% block content  %}
<form method="post"> {% csrf_token %}
    {% if main_error %}<p class="error">{{main_error}}</p> {% endif %}
    <h2>ОСОБИСТИЙ КАБІНЕТ</h2>
    <div class="window">
        <div class="form-row">
            {{user.0.name}} {{ user.0.surname }}
        </div>
        <div class="form-row">
            Відділ: {{ user.0.department }}
        </div>
        <div class="form-row">
            Телефон: {{ user.0.phone }}
        </div>
        <div class="form-row">
            Email: {{ user.0.email }}
        </div>
        <div class="form-row">
            Логін: {{ user.0.login }}
        </div>
        <div class="form-row">
            Дата реэстрації: {{ user.0.date_registration }}
        </div>
        <div class="form-row">
            Останній вхід: {{ user.0.date_last_enter }}
        </div>
    </div>
    <button value="Ok" name="exit_cabinet" type="submit" class="btn btn-primary">
        Добре
    </button>
</form>
{% endblock %}