{% extends 'index.html' %}
{% block content  %}
<h4>ВХІД ДО СИСТЕМИ</h4>
<form method="post" action="enter">  {% csrf_token %}
    {% if main_error %}<p class="error">{{main_error}}</p> {% endif %}
    <div class="window">
        <div class="form-group">
            <label for="login">Логін</label>
            <input value="{% if login %}{{login}}{% endif %}" type="login" class="form-control" id="login" name="login">
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" id="password" name="password">
            <a style="color:#cccccc" class="form-text" href="/">Я забув пароль або логін</a>
        </div>
        <button value="Enter" name="submit" type="submit" class="btn btn-primary">Увійти</button>
    </div>
</form>
{% endblock %}