{% extends 'index.html' %}

{% block content %}
<div class="col-md-6">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <!---- <div class="elemrnt">    ---->
            <label for="">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
            {% endif %}
            </p>
         <!---- </div> ---->
        {% endfor %}
        <input type="submit" class="btn btn-success" value="Sign up">
        <input type="reset" class="btn btn-danger" value="reset">
    </form>
</div>
{% endblock %}