{% extends 'index.html' %}
{% block content  %}

<form method="post"> {% csrf_token %}
    {% if main_error %}<p class="error">{{main_error}}</p> {% endif %}
    <div class="window"><h4>РЕГІСТРАЦІЯ НОВОГО КОРИСТУВАЧА</h4>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">І'мя</label>
                <input type="text" class="form-control" value="{% if name %}{{name}}{% endif %}" id="name" name="name">
                {% if name_error %}
                <p class="error">{{name_error}}</p>
                {% endif %}
            </div>
            <div class="form-group col-md-6">
                <label for="surname">Прізвище</label>
                <input type="text" class="form-control" value="{% if surname %}{{surname}}{% endif %}" id="surname"
                       name="surname">
            </div>
            <div class="form-group col-md-6">
                <label for="phone">Відділ</label>
                <select class="form-control" name="department" id="department">
                    {% for dep in DEPARTMENT_REG %}
                    <option {% if department == dep %} selected {% endif %}>{{dep}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row" style="border-bottom: 1px solid">
            <div class="form-group col-md-6">
                <label for="phone">Телефон</label>
                <input type="phone" value="{% if phone %}{{phone}}{% endif %}" class="form-control" id="phone"
                       name="phone">
            </div>
            <div class="form-group col-md-6">
                <label for="email">email</label>
                <input type="email" value="{% if email %}{{email}}{% endif %}" class="form-control" id="email"
                       name="email">
            </div>
        </div>
        <div class="form-row" style="border-bottom: 1px solid">
            <div class="form-group col-md-6">
                <label for="login">Логін</label>
                <input type="login" value="{% if login %}{{login}}{% endif %}" class="form-control" id="login"
                       name="login">
            </div>
            <div class="form-group col-md-6">
                <label for="password1">Пароль</label>
                <input type="password" class="form-control" id="password1" name="password1">
            </div>
            <div class="form-group col-md-6">
                <label for="hidden"></label>
                <input hidden="true" type="password" class="form-control" id="hidden">
            </div>
            <div class="form-group col-md-6">
                <label for="password2">Підтвердження паролю</label>
                <input type="password" class="form-control" id="password2" name="password2">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="send_to_email" name="send_to_email">
                    <label class="form-check-label" for="send_to_email">
                        Відправити на пошту
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button id="send_user" value="Send" type="submit" class="btn btn-primary" name="submit">
                    Зареєструватись
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %}