{% extends 'index.html' %}
{% block content  %}
<form method="post" action="/test"> {% csrf_token %}
    <div class="form-grup">
        {% for control in form %}
        <div class="form-grup">
        <label for="{{ control.name }}">{{ control.label }}</label>
        {{ control }}
        </div>
        {% endfor %}
    </div>
    <button>Send</button>
</form>
{% endblock %}
