{% extends 'index.html' %}
{% block content  %}
<style>
  .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8 {
  border-right: 1px white solid;
  }


</style>

<div>
    <div class="row" style="border-bottom: 1px solid white">
        <div class="col-md-1"><input type="checkbox" name="cb_mane_all" value=""></div>
        <div class="col-md-1">№</div>
        <div class="col-md-2">Початок</div>
        <div class="col-md-3">Назва</div>
        <div class="col-md-1">Відділ</div>
    </div>
    {% for event in events %}
        <div class="row">
    <!--- <tr  class="{% cycle 'row1' 'row2' %}">   --->
        <div class="col-md-1"><input type="checkbox" name="cb_mane_{{ forloop.counter }}" value=""></div>
        <div class="col-md-1">{{ forloop.counter }}</div>
        <div class="col-md-2">{{event.day_start}}</div>
        <div class="col-md-3">{{event.name_event}}</div>
        <div class="col-md-1">{{event.department}}</div>

    </div>

    {% endfor %}
</div>
{% endblock %}