<div class="my-2 my-lg-0">
    <form method="post" class="form-inline">{% csrf_token %}
        {% if request.COOKIES.login %}
        <a class="btn btn-primary rounded-circle"><b>{{ request.COOKIES.login.title.0 }}</b></a>&nbsp;
        <a class="btn btn-outline-info" href="cabinet">Мій кабинет</a>&nbsp;
        <a class="btn btn-outline-warning" href="exit">Вихід</a>
        {% else %}
        <a class="btn btn-outline-success" href="enter">Вхід</a>&nbsp;
        <a class="btn btn-outline-primary" href="register">Реєстрація</a>
        {% endif %}
    </form>
</div>

